body{
    font-family: Helvetica, sans-serif;
    background: white;
}


header {
    background: #FA8072;
    height: 100px;
}    
 h1{
    font-size: 50px;
    text-align: center;
}
table {
    position: static;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background:#ff9900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  td {
    padding: 8px;
    border-radius: 5px;
    border: 5px solid black;
    background: #04aaf7;
    font-size: 20px
  }
  
  th {
    background-color: #FA8072;
    color: rgb(7, 7, 7);
    font-size: 20px;  
/* p{
    font-style: italic;
    font-size: 27px;
    line-height: 30px;
    height: 300px;
    overflow: auto;
    float: right;
    display: block;
    margin: -1200px 2% 0 2%;
    width: 70%; */
} 
button{
    border: #04aaf7;
    padding: 10px 30px;
    background: #FA8072;
    color: black;
    border-radius: 50px;
    font-size: 18px;
    transition: 350ms;
    cursor: pointer;
}

button:hover{
background: blue;
}